// @forward 'scss/main.scss';
$clr__primary--cyan: hsl(171, 66%, 44%);
$clr__primary--blue: hsl(233, 100%, 69%);
$clr__neutral--drakgray: hsl(210, 10%, 33%);
$clr__neutral--gray: hsl(201, 11%, 66%);
$clr__neutral--gray-200: hsl(201, 11%, 66%, .1);

$body__fs: 1.125rem;

